{% extends "administration/base.html" %}

{% block head %}
    <script type="text/javascript">
function save_changes(code, name) {
    var req = new Request.JSON({
        url: '/+admin/api',
    }).post({
        method: 'save_page',
        id: {{ translation.id }},
        title: $('title_entry').value,
        content: CKEDITOR.instances.editor.getData()
    });
}
    </script>
{% endblock %}

{% block content %}

<div class="section">
    <div class="header">
        <input id="title_entry" style="font-size: 1.1em; padding: 5px 12px 5px 12px; margin: 0px; -moz-box-sizing: border-box; width: 100%;" type="text" style="width: 380px;" value="{{ title }}" />
        <div style="clear: both;"></div>
    </div>

    <div class="body">
        <textarea name="editor">{{ content }}</textarea>
        <script type="text/javascript">
            CKEDITOR.replace('editor');
        </script>
        <div onclick="javascript: save_changes();" class="button" style="float: right;">
            Save Changes!
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
{% endblock %}
