{% extends "administration/base.html" %}

{% block head %}
<script type="text/javascript">
function delete_page() {
    var req = new Request.JSON({
        url: '/+admin/api',
    }).post({
        method: 'delete_page',
        id: {{ page.id }}
    });
}
function add_location() {
    var req = new Request.JSON({
        url: '/+admin/api',
    }).post({
        method: 'add_location',
        location: $('location_entry').get('value'),
        page: {{ page.id }},
    });
}
</script>
{% endblock %}

{% block content %}

<div style="margin: 20px 0px;">
    <img style="vertical-align: middle;" src="/static/images/icons/page.png" />
    <span style="vertical-align: middle; text-decoration: underline; color: #888888; font-size: 2em;">{{ page.title }}</span>
    <div style="float: right;">
        <div class="button plain">
            <a href="/{{ page.locations.all|first }}">View Page</a>
        </div>
        <div onclick="javascript: delete_page();" class="button plain">
            Delete Page
        </div>
    </div>
</div>

<div class="toolbar">
    <div class="button{% if apmt.overview %} active{% endif %}">
        <a href="/+admin/pages/{{ page.id }}">Overview</a>
    </div>
    <div class="button{% if apmt.edit %} active{% endif %}">
        <a href="/+admin/pages/{{ page.id }}/edit/en">Edit</a>
    </div>
    <div class="button{% if apmt.locations %} active{% endif %}">
        <a href="/+admin/pages/{{ page.id }}/locations">Locations</a>
    </div>
    <div class="button{% if apmt.statistics %} active{% endif %}">
        <a href="/+admin/pages/{{ page.id }}/statistics">Statistics</a>
    </div>

    {% if apmt.edit %}
    <div class="selector" onclick="javascript: document.getElementById('language_menu').style.display = 'block';" style="position: relative;">
        English
        <div id="language_menu" class="menu">
            {% for l in languages %}
                <div class="option"><a href="/+admin/pages/{{ page.id }}/edit/{{ l.code }}">{{ l.name }}{% if l.default %} <span style="float: right; color: #186291;">default</span>{% endif %}</a></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<div style="margin-top: 20px;">
    {% block page %}
    {% endblock %}
</div>

{% endblock %}
